<%if not user_signed_in? %>
  <section class="well-sm wow fadeIn  bg1" data-wow-duration='3s'>
    <div class="container">
      <h3 class="txt-pr">
        CONTACT US <br/>
        <small>
          Fill out the form below to learn more!
        </small>
      </h3>
    </div>
  </section>
<%end%>

<%= form_for @customer, html: {name: "contact_form", id: "contact_form", class: "well1 form-horizontal"} do |f| %>

  <%= render(:partial => "partials/form_main", :locals => {:f => f}) %>

<% end %>

<script>
  $("#customer_state").change(function () {
    var input_state = $(this);
    var input_city = $("#customer_city");
    $.getJSON('/cities/' + input_state.val(), function (data) {
      var opt = '<option value="" selected="">Select Your City</option>';
      //console.log(data);
      if(data.length > 0){
        data.forEach(function(i) {
          opt += "<option value=" + i + ">" + i + '</option>';
        });
      }
      input_city.html(opt);
    });
  });
</script>