<div class="row header">
  <h1>CONTACT US &nbsp;</h1>
  <h3>Fill out the form below to learn more!</h3>
</div>
<%= form_for [:register, @customer], html: {name: "contact_form", id: "contact_form", class: "well form-horizontal"} do |f| %>

  <%= render(:partial => "partials/form_main", :locals => {:f => f}) %>

<% end %>

<script>
  $("#customer_state").change(function () {
    var input_state = $(this);
    var input_city = $("#customer_city");
    $.getJSON('/cities/' + input_state.val(), function (data) {
      var opt = '<option value="" selected="">Select Your City</option>';
      //console.log(data);
      if(data.length > 0){
        data.forEach(function(i) {
          opt += "<option value=" + i + ">" + i + '</option>';
        });
      }
      input_city.html(opt);
    });
  });
</script>
