<section class="well-sm wow fadeIn  bg1" data-wow-duration='3s'>
  <div class="container">
    <h3 class="txt-pr">
      Thank you for your registration! <br/>
      <small>
        Soon we will contact you!
      </small>
    </h3>
  </div>
</section>