// Color vars
$white: #fff;
$grey: #E9E8E8;
$dark_grey: #555;
$celeste: #21c2f8;
$celeste_claro: #E9F6FA;
$pink: #ee9cb4;
$red: #d9534f;

.field_with_errors {
  padding: 2px;
  background-color: $red;
  border-radius: 3px;
  display: table-cell;
}

#error_explanation {
  width: 450px;
  border: 2px solid $red;
  border-radius: 5px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-family: monospace;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: $red;
    color: #fff;
    border-radius: 2px 2px 0px 0px;
  }

  ul li {
    padding: 4px 0px 0px 0px;
    font-size: 12px;
    list-style: square;
  }
}

form{
  margin: auto;
  .radio_label{
    color: $dark_grey;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    padding: 0px 0px 0px 25px;
  }
  label{
    color: $celeste;
  }
}
.form-control {
  padding: 2px 25px !important;
}
.input-group-addon {
  padding: 2px 25px !important;
}
.control-label {
  padding: 14px 14px !important;
}
.radio_label {
  padding: 14px 11px 14px 11px !important;
}
textarea{
  max-height: 250px;
}
.btn{
  color: $white !important;
  background-color: $celeste !important;
  width: 200px !important;
}
.form-customized {
  height: 40px !important;
  padding: 7px 7px !important;  
}
.form-textarea-customized {
  height: 120px !important;
  padding: 7px 7px !important;  
}
.form-group-customized {
  margin-bottom: 5px !important;
  height: auto;
  color: $celeste; 
}

/*@import "bootstrap-sprockets";*/
@import "bootstrap";

#success_message{ display: none;}

.table-customized > tbody > tr:nth-of-type(odd) {
  background-color: $grey;
}
.table-customized > tbody > tr:hover {
  background-color: $celeste;
}
.table-customized > thead {
  /*border-bottom: solid 5px $celeste;*/
  background: linear-gradient($celeste, $celeste_claro);
  /*background: radial-gradient($celeste, $celeste_claro);*/
}

.btn-table {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}
.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}
.table-wrapper {
  display: block;
  max-height: 300px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}